body{
  padding: 100px;
}


h1 {
  font-family: shiva, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 120px;
  padding-left: 20px;
  color: rgb(20, 0, 255);
  text-align: center;

}
ul {
  text-align: center;
}
ul li {
  display: inline-block;
  list-style-type: none;
  font-family: shiva, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: rgb(20, 0, 255);
}
a{
  text-decoration: none;

}
ul li a{
  color: rgb(20, 0, 255);
}

a:hover{
  border: 1px solid;

}
h2{
    font-family: fort-condensed, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    padding: 50px;
}

 p{
   color: grey;
   padding: 5px 100px 30px 50px;
 }
 .response{
   border: 10px dotted lightgrey;
   padding: 20px;

 }
