* {
  box-sizing: border-box;
}
body{
  background-color: rgb(251, 230, 195);
}
button{
  background-color: rgb(231, 231, 231);
  border-radius: 50%;
  border: none;
  cursor: cell;
  padding: 20px;
}
button:hover{
  background-color: rgb(131, 131, 131);
}
.marquee {
  width: 100vw; /* the plugin works for responsive layouts so width is not necessary */
  overflow: hidden;
  font-size: 150px;
  color: rgb(252, 105, 85);
  font-family: 'Maginia', sans-serif;
}
#draggable{
  cursor: move;
  width: 200px;
  height:200px;
  border-radius: 50%;
  position: absolute;
  top: 3%;
  right: 5%;
  background-color:rgb(168, 223, 232) ;
}
.sidebar{
  position: fixed;
  top:0;
  right: -100px;
  height: 300px;
  width: 100px;
  padding: 20px;
  transition: right .5s ease-in-out;
}
.active {
  width: 50%;
  padding: 25px;
  font-size: 25px;
  right: 0;
}
